
footer {
    padding-top: 122px;
    padding-bottom: 122px;
    background-color: #161C2D;
}

.footer-body {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 400;
}
.footer-company-logo{
    font-family: Rubik;
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: -0.16px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.footer-body-title {
    color: #ffffff;
    opacity: 0.65;
    font-size: 17px;
    font-weight: 400;
}

.footer-body-title p {
    margin: 0px 0px;
}

.footer-body-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 101px;
}

.footer-body-left-side {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.footer-company-content {
    inline-size: 274px;
    opacity: 0.65;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: -0.1px;
    font-family: 'Roboto';
    color: #FFFFFF;
}

.footer-socials-media-list {
    padding-left: 0;
    margin-top: 0;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    list-style: none;
}

.footer-body-right-side {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-body-right-nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-body-items {
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.links-item {
    width: 144px;
}

