header{
    max-width: 1600px;
    height: 761px;
    background-color: #68D5851A;
}
/* header container start */
.hdr{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex:33%
}
.hdr-content{
    font-size: 28px;
    font-weight: 700;
    font-family: 'Rubik';
    line-height: 100%;
    letter-spacing: -0.16px;
    color: #161C2D;
}
.hdr-navigation .nav-items .nav-item {
    font-size: 15px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: -0.1px;
    text-align: center;
}
.nav-items {
    display: flex;
    list-style: none;
    flex: 33%;
    gap: 20px;
}

.hdr-navigation .nav-items li a {
    list-style-type: none;
    color: black;
    text-decoration: none;
}

.hdr-navigation .nav-items li > :hover {
    color: #FB6D45;
    cursor: pointer;
}
.hdr-login-signup > :hover {
    color: #FB6D45;
    cursor: pointer;
}
.hdr-login-signup{
    border: 1px;
    display: flex;
    gap: 10px;
}

.hdr-login-signup > a {
    list-style-type: none;
    color: black;
    text-decoration: none;
    color: #161C2D;
    line-height: 26px;
    letter-spacing: -0.1px;
    text-align: right;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Roboto';
    cursor: pointer;
}
/* header container end */